<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico" >
<link rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__ADMIN__static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN__static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN__lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN__static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ADMIN__static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="__BOOTS__css/bootstrap.css" />
<!-- Tree -->
<link rel="stylesheet" type="text/css" href="__TREES__css/guoone.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script><![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>大魔王影院</title>
<link rel="stylesheet" href="__ADMIN__lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body>
<!--_header 作为公共模版分离出去-->
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/aboutHui.shtml">H-ui.admin</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/aboutHui.shtml">H-ui</a> <span class="logo navbar-slogan f-l mr-10 hidden-xs">v3.0</span> <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
			<nav class="nav navbar-nav">
				<ul class="cl">
					<li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" onclick="article_add('添加资讯','article-add.html')"><i class="Hui-iconfont">&#xe616;</i> 资讯</a></li>
							<li><a href="javascript:;" onclick="picture_add('添加资讯','picture-add.html')"><i class="Hui-iconfont">&#xe613;</i> 图片</a></li>
							<li><a href="javascript:;" onclick="product_add('添加资讯','product-add.html')"><i class="Hui-iconfont">&#xe620;</i> 产品</a></li>
							<li><a href="javascript:;" onclick="member_add('添加用户','member-add.html','','510')"><i class="Hui-iconfont">&#xe60d;</i> 用户</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
				<ul class="cl">
					<li>超级管理员</li>
					<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">admin <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" onClick="myselfinfo()">个人信息</a></li>
							<li><a href="#">切换账户</a></li>
							<li><a href="#">退出</a></li>
						</ul>
					</li>
					<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
					<li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
							<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
							<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
							<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
							<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
							<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-product">
			<dt class="selected"><i class="Hui-iconfont">&#xe620;</i> 资源管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd style="display: block;">
				<ul>
					<li><a href="tovideomanage" title="品牌管理">视频管理</a></li>
					<li><a href="classManage" title="分类管理">分类管理</a></li>
					<li><a href="classBig" title="分类管理">高级分类</a></li>
					<li class="current"><a href="videoManage" title="产品管理">高级管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="../post/post" title="评论列表">评论列表</a></li>
					<li><a href="../post/back" title="意见反馈">回复列表</a></li>
					<li><a href="../post/danmu" title="意见反馈">弹幕列表</a></li>
					<li><a href="../post/recycle" title="意见反馈">回收站</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->












<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">






		<div class="pos-a" style="width:150px;left:0;top:0; bottom:0; height:100%; border-right:1px solid #e5e5e5; background-color:#f5f5f5">


		<br>
		<ul id="files">
			{volist name='vbank' id='bank'}
			<li><a href="javascript:void(0);" class="bank" value='bid = {$bank.id}'>{$bank.bankname}</a>
				<ul>
					{volist name='vclass' id='class'}
					{eq name='$class.bid' value='$bank.id'}
					<li><a href="javascript:void(0);" class="class" value='cid = {$class.id}'>{$class.classname}</a>
						<ul>
							{volist name='vstyle' id='style'}
							{eq name='$style.cid' value='$class.id'}
							<li><a href="javascript:void(0);" class="style" value='sid = {$style.id}'>{$style.stylename}</a></li>
							{/eq}
							{/volist}
						</ul>
					</li>
					{/eq}
					{/volist}
				</ul>
			</li>
			{/volist}
		</ul>
                  

		</div>



		<div style="margin-left:150px;">
			<div class="pd-20">
				
				<div class="cl pd-5 bg-1 bk-gray mt-20"> 
					<span class="l">
						<a onclick="delAll()" class="btn btn-danger radius">
							<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
						</a> 
						<a onclick="huifuAll()" class="btn btn-success radius">
							<i class="Hui-iconfont">&#xe6de;</i> 批量恢复
						</a> 
						<a class="btn btn-primary radius" href='http://www.damowang.com/admin/video/videoadd'><i class="Hui-iconfont">&#xe600;</i> 添加视频</a></span> 
					<span class="r">共有数据：<strong>54</strong> 条</span> 
				</div>
				<div class="mt-20" id="Tvideo">
					<table  class="table table-border table-bordered table-bg table-hover table-sort">
						<thead>
							<tr class="text-c">
								<th width="40"><input name="" type="checkbox" value=""></th>
								<th width="180">视频名称</th>
								<th width="90">视频状态</th>
								<th>封面</th>
								<th>状态</th>
								<th width="100">操作</th>
							</tr>
						</thead>
						<tbody>
							{volist name='tov' id='tovideo'}
							<tr class="text-c va-m">
								<td><input name="" type="checkbox" value="{$tovideo.id}"></td>
								<td>{$tovideo.vname}</td>
								<td>
								{eq name='$tovideo.vend' value='1'}
								完结
								{else}
								未完结
								{/eq}
								</td>
								<td><img src="{$tovideo.vpic}" width="80px;"></td>
								<td class="td-status">
								{eq name='$tovideo.display' value='1'}
									<span class="label label-success radius">上线</span>
								{else}
									<span class="label label-error radius">下线</span>
								{/eq}
								</td>
								<td class="td-manage">
									<a style="text-decoration:none" onclick="huifuOne({$tovideo.id})">恢复</a> 
									<a style="text-decoration:none" href="updateManage?id={$tovideo.id}">编辑</a> 
									<a style="text-decoration:none" onclick="delOne({$tovideo.id})">删除</a>
								</td>
							</tr>
							{/volist}
						</tbody>
					</table>
					{$page}
				</div>
			</div>
		</div>

	</div>
</section>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ADMIN__lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN__lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ADMIN__static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__ADMIN__static/h-ui.admin/js/H-ui.admin.page.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__ADMIN__lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="__TREES__js/jquery.tree.js"></script>	
<script type="text/javascript">
window.alert=function(){};
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
	]
});
</script>

<script type="text/javascript">
/******************** Tree ***************************/
$(function(){
	$('#files').tree({
		expanded: 'li:first'
	});
});
/******************** click ***************************/
$('.bank').click(function() {
	data = $(this).attr('value');
	myAjax(data);
});
$('.class').click(function() {
	data = $(this).attr('value');
	myAjax(data);
});
$('.style').click(function() {
	data = $(this).attr('value');
	myAjax(data);
});
/******************** ajax ***************************/
function myAjax(data)
{
	//alert('你妈死了');
	$('#Tvideo').children().remove();
	$.ajax({
		url:"http://www.damowang.com/admin/Manageajax/video",
		type:'post',
		data:"id="+data,
		success:success,
	});
}
/******************** 返回 ***************************/
function success($data)
{
	$('#Tvideo').append($data);
}
/******************** 单恢 ***************************/
function huifuOne(id)
{
	$.ajax({
		url:'http://www.damowang.com/admin/Manage/tovideoHuifu',
		type:'post',
		data:'id='+id,
		success:replace,
		});
}
/******************** 单删 ***************************/
function delOne(id)
{
	$.ajax({
		url:'http://www.damowang.com/admin/Manage/tovideoDel',
		type:'post',
		data:'id='+id,
		success:replace,
		});
}
/******************** 群恢 ***************************/
function huifuAll()
{
	for(var i=0;i<$('input:checkbox:checked').length;i++)
	{
		var id = $('input:checkbox:checked').eq(i).val();
		$.ajax({
			url:'http://www.damowang.com/admin/Manage/tovideoHuifu',
			type:'post',
			data:'id='+id,
			success:replace,
		});
	}
}
/******************** 群删 ***************************/
function delAll()
{
	for(var i=0;i<$('input:checkbox:checked').length;i++)
	{
		var id = $('input:checkbox:checked').eq(i).val();
		$.ajax({
			url:'http://www.damowang.com/admin/Manage/tovideoDel',
			type:'post',
			data:'id='+id,
			success:replace,
		});
	}
}
function replace()
{
	window.location.reload();
}
</script>	


</body>
</html>