<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>积分兑换</title>

		<link href="__INDEX__AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__css/personal.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__css/point.css" rel="stylesheet" type="text/css">
		<script src="__INDEX__AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="__INDEX__AmazeUI-2.4.2/assets/js/amazeui.js"></script>
		<script src="__INDEX__js/jquery-1.9.1.min.js"></script>
	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="am-container header">
							
						<ul class="message-r">
							
							<div class="topMessage my-shangcheng">
								<div class="menu-hd MyShangcheng"><a href="info" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
							</div>
							<div class="topMessage mini-cart">
								<div class="menu-hd"><a id="mc-menu-hd" href="foot" target="_top"><span>足迹</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd"><a href="collection" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
						</ul>
						</div>

						<!--悬浮搜索框-->


						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>

		
		<b class="line"></b>

		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="points">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">积分兑换</strong></div>
						</div>
						<hr/>
						
						<div class="pointlist am-tabs" data-am-tabs>
							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div>
						   
						   
						  
								</div>
								<div style="margin-top:20px;margin-bottom: 20px;">
									<p>我的积分 : <span style="color:red" id='jifen'> {$res} </span> </p>
								</div>
									<table>
										
										<thead>
											<tr>												
												<th>积分</th>
												<th>商品</th>
												<th>立即兑换</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>30</td>
												<td>VIP会员7天</td>
												
												<td><button id='vip7'>立即兑换</button></td>
											</tr>
										</tbody>
										<tbody>
											<tr>
												<td>100</td>
												<td>VIP会员30天</td>
												<td><button id='vip30'>立即兑换</button></td>
											</tr>
										</tbody>									
									</table>
								</div>						

							</div>

						</div>
					</div>
				</div>
				<!--底部-->
				<div class="footer">
					<div style="" >
                           
                            <a href="#">合作伙伴</a>
                            <a href="#">联系我们</a>
                            <a href="#">网站地图</a>
                            <em><a href="#"><img src="__INDEX__images/ghs.png" />京公网安备：冀ICP备18004556号-1</a> &nbsp;&nbsp;&nbsp; <a href="#"><img src="__INDEX__images/xy.png" />中国互联网诚信联盟</a></em>
                        </div>
				</div>
			</div>

			<aside class="menu">
				  <ul>
                    <li class="person active">
                        <a href="info"><i class="am-icon-user"></i>个人中心</a>
                    </li>
                    <li class="person">
                        <ul>
                            <li> <a href="info">个人信息</a></li>
                            <li> <a href="safety">安全设置</a></li>                 
                            <li> <a href="points">我的积分</a></li>
                            <li> <a href="coupon">我的VIp</a></li>
                            <li> <a href="bonus">积分兑换</a></li>               
                        </ul>
                    </li>
                    <li class="person">
                        <p><i class="am-icon-tags"></i>我的收藏</p>
                        <ul>
                            <li> <a href="collection">收藏</a></li>
                            <li> <a href="foot">观看历史</a></li>   
                        </ul>
                    </li>

                    <li class="person">
                        <p><i class="am-icon-qq"></i>在线客服</p>
                        <ul>
                            <li> <a href="suggest.html">意见反馈</a></li>                           
                            
                            <li> <a href="news.html">我的消息</a></li>
                        </ul>
                    </li>
                </ul>

			</aside>
		</div>

	</body>

</html>
<script type="text/javascript">
	var num
		num = Number(num);
	var duinum;

	//兑换7天会员
	$('#vip7').click( function () {
		num = $("#jifen").text();
		if (num < 30 ) {
			alert('积分不足，无法兑换');
			return false;
		} 
		$.get("{:url('jifen/duivip7')}",{'num':num},function (data) {
			
			if (data == 1) {
				$('#jifen').html('');
				duinum = num -30;
				$('#jifen').html(duinum);
				alert('恭喜你，兑换成功');	

			} else {
				alert('兑换失败');
			}
		});
	});


	//兑换30天会员
	$("#vip30").click(function () {
		num = $("#jifen").text();
		if (num <100) {
			alert('积分不足，无法兑换');
			return false;
		}
		console.log(num);
		$.get("{:url('jifen/duivip30')}",{'num':num},function (data) {
			if (data == 1) {
				duinum = num - 100;
				console.log(duinum);
				$('#jifen').html(duinum);
				alert('恭喜你，兑换成功');
			} else {
				alert('兑换失败');
			}
		});
	});
</script>