<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>绑定手机</title>

		<link href="__INDEX__AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__INDEX__css/personal.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__css/stepstyle.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="__INDEX__js/jquery-1.7.2.min.js"></script>
		<script src="__INDEX__AmazeUI-2.4.2/assets/js/amazeui.js"></script>

	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="am-container header">
							
						<ul class="message-r">
							
							<div class="topMessage my-shangcheng">
								<div class="menu-hd MyShangcheng"><a href="info" target="_top"><i ></i>	</a></div>
							</div>
							<div class="topMessage mini-cart">
								<div class="menu-hd"><a id="mc-menu-hd" href="foot" target="_top"><span>足迹</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd"><a href="collection" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
						</ul>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>

			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">绑定手机</strong> / <small>Bind&nbsp;Phone</small></div>
					</div>
					<hr/>
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">绑定手机</p>
                            </span>
							<span class="step-2 step" id='setr'>
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">完成</p>
                            </span>
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					{if empty($res['phone'])}
					<form class="am-form am-form-horizontal" id='addphone' action="#" method="post">
						<div class="am-form-group bind">
							<label for="user-phone" class="am-form-label">验证手机</label>
							<div class="am-form-content">
								<input type="tel" id="user-new-phone" placeholder="绑定新手机号"
								 required name="phone">
							</div>
						</div>
						<div class="am-form-group code">
							<label for="user-code" class="am-form-label">验证码</label>
							<div class="am-form-content">
								<input type="text" id="user-code" placeholder="短信验证码"  name='yzm'>
							</div>
							<a class="btn" href="javascript:void(0);" onclick= "xinphone1()"; id="xinphone">
								<div class="am-btn am-btn-danger" ><sapn id='yzm'>验证码</sapn></div>
							</a>
						</div>
						<div class="info-btn"><button onclick='return add()'>
							<div class="am-btn am-btn-danger">保存修改</div></button>
						</div>
					{else}
					<form class="am-form am-form-horizontal" action="#" method="post" id='addphone'>
						<div class="am-form-group bind">
							<label for="user-phone" class="am-form-label">验证手机</label>
							<div class="am-form-content">
								<span id="user-phone"><span id="user-phone">{$res['phone']}</span></span>
								<input type="hidden" name="oldphone" value="{$res['phone']}">
							</div>
						</div>
						<div class="am-form-group code">
							<label for="user-code" class="am-form-label">验证码</label>
							<div class="am-form-content">
								<input type="tel" id="user-code" placeholder="短信验证码" style="width:178px" required name="oldyzm">
							</div>
							<a class="btn" href="javascript:void(0)"  onclick= "xinphone2()" id="sendMobileCode">
								<div class="am-btn am-btn-danger"><sapn id='yzm1'>验证码</sapn></div>
							</a>
						</div>
						<div class="am-form-group">
							<label for="user-new-phone" class="am-form-label ">验证手机</label>
							<div class="am-form-content">
								<input type="tel" id="user-new-phone" placeholder="绑定新手机号" required  onblur="checkme()" name='newphone'>
							</div>
						</div>
						<div class="am-form-group code">
							<label for="user-new-code" class="am-form-label">验证码</label>
							<div class="am-form-content">
								<input type="tel" id="user-new-code" placeholder="短信验证码" style="width:178px" required name="newyzm">
							</div>
							<a class="btn" href="javascript:void(0);"  onclick= "xinphone3()" id="sendMobileCode">
								<div class="am-btn am-btn-danger"><sapn id='yzm2'>验证码</sapn></div>
							</a>
						</div>
						<div class="info-btn"><button onclick='upda()'>
							<div class="am-btn am-btn-danger">保存修改</div></button>
						</div>
						{/if}
						
					</form>
				
				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
						</p>
					</div>
				</div>
			</div>
						<aside class="menu">
				<ul>
                    <li class="person active">
                        <a href="info"><i class="am-icon-user"></i>个人中心</a>
                    </li>
                    <li class="person">
                        <ul>
                            <li> <a href="info">个人信息</a></li>
                            <li> <a href="safety">安全设置</a></li>                 
                            <li> <a href="points">我的积分</a></li>
                            <li> <a href="coupon">我的VIp</a></li>
                            <li> <a href="bonus">积分兑换</a></li>               
                        </ul>
                    </li>

					<li class="person">
						<p><i class="am-icon-tags"></i>我的收藏</p>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>														
						</ul>
					</li>

					<li class="person">
							<li> <a href="suggest.html">意见反馈</a></li>							
							
							<li> <a href="news.html">我的消息</a></li>
						</ul>
					</li>
				</ul>
			</aside>			
		</div>	
	</body>
</html>
<script type="text/javascript">
	data = $('#user-phone').text();
	res = data.substring(0,3) + '****' + data.substring(7,11);
	$('#user-phone').text(res);

	//判断手机号
	$("#user-new-phone").blur(function () {
		var val = $('#user-new-phone').attr('value');
		var mobilevalid = /^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/;
		if (!mobilevalid.test(val)) {
			alert('请输入正确的手机号码！');			
		}	
	});	
		
///添加新手机号	

	var fale = true;
	function xinphone1()
	{	
		if (fale) {
			fale = false;
			var s = 5;

			var timer = setInterval(function (){
				$('#yzm').text(s+"秒后重新发送");
				if (s <0) {
					$('#yzm').text('重新发送');
					clearInterval(timer);
					fale = true;
				}
				s--;
			},1000);
			$.post("{:url('index/user/phone')}",{'phone':val},function (data) {
				console.log(12);
				console.log(data);		
			});
		}
	}

//更换手机号
//旧手机号
	var phone = {$res['phone']};
	function xinphone2()
	{	
		if (fale) {
			fale = false;
			var s = 5;

			var timer = setInterval(function (){
				$('#yzm1').text(s+"秒后重新发送");
				if (s <0) {
					$('#yzm1').text('重新发送');
					clearInterval(timer);
					fale = true;
				}
				s--;
			},1000);
			$.post("{:url('index/user/phone')}",{'phone':phone},function (data) {
				
				console.log(data);		
			});
		}
	}

//更换手机号
	var falg = true;
	function xinphone3()
	{	
		if (falg) {
			falg = false;
			var s = 5;
			var timer = setInterval(function (){
				$('#yzm2').text(s+"秒后重新发送");
				if (s <0) {
					$('#yzm2').text('重新发送');
					clearInterval(timer);
					falg = true;
				}
				s--;
			},1000);
			$.post("{:url('index/user/phone')}",{'phone':val},function (data) {
				console.log(12);
				console.log(data);		
			});
		}
	}

//提交数据 添加手机号
function add() {
	if ($('#user-new-phone').val() == '' ) {
			alert('请输入手机号');
			return false;
		}
		if ( $('#user-code').val() == '') {
			alert('请填写验证码');
			return false;
		}

	var set = $('#addphone').serialize();
	$.ajax({
		type:'post',
		url:"{:url('info/addphone')}",
		data:set,
		success:success
	});
	return false;	
}

//修改手机号
function upda() {
	if ($('#user-new-phone').val() == '' ) {
			alert('请输入手机号');
			return false;
		}
		if ( $('#user-code').val() == '') {
			alert('请填写验证码');
			return false;
		}
		if ( $('#user-new-code').val() == '') {
			alert('请填写验证码');
			return false;
		}
	var set = $('#addphone').serialize();
	$.ajax({
		type:'post',
		url:"{:url('info/upphone')}",
		data:set,
		success:succ
	});
	return false;	
}

//查看修改结果
function success(data){

		if (data == 1) {
			$("#setr").attr('class','step-1 step');
			alert('添加成功');
		} else if (data == 0) {
			alert('添加失败，请联系管理员');
		} else  {
			alert(data);
		}

		return false;	
	}

function succ(data){

		if (data == 1) {
			$("#setr").attr('class','step-1 step');
			alert('修改成功');
		} else if (data == 0) {
			alert('修改失败，请联系管理员');
		} else  {
			alert(data);
		}

		return false;	
	}


</script>