<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>验证邮箱</title>

		<link href="__INDEX__AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__INDEX__css/personal.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__css/stepstyle.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="__INDEX__js/jquery-1.7.2.min.js"></script>
		<script src="__INDEX__AmazeUI-2.4.2/assets/js/amazeui.js"></script>

	</head>
	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="am-container header">
							
						<ul class="message-r">
							
							<div class="topMessage my-shangcheng">
								<div class="menu-hd MyShangcheng"><a href="info" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
							</div>
							<div class="topMessage mini-cart">
								<div class="menu-hd"><a id="mc-menu-hd" href="foot" target="_top"><span>足迹</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd"><a href="collection" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
						</ul>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>
            
		<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">绑定邮箱</strong> / <small>Email</small></div>
					</div>
					<hr/>
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">验证邮箱</p>
                            </span>
							<span class="step-2 step" id="setr">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">完成</p>
                            </span>
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					<form class="am-form am-form-horizontal">
						<div class="am-form-group">
							<label for="user-email" class="am-form-label">验证邮箱</label>
							<div class="am-form-content">
								<input type="email" id="user-email" placeholder="请输入邮箱地址">
								<p style="color:red" id='pyou'></p>
							</div>
						</div>
						<div class="am-form-group code">
							<label for="user-code" class="am-form-label">验证码</label>
							<div class="am-form-content">
								<input type="tel" id="user-code" placeholder="验证码" style="width:178px">
							</div>
							<a class="btn"  onclick="sendMobileCode();" id="sendMobileCode">
								<div class="am-btn am-btn-danger" id="btnyzm">验证码</div>
							</a>
						</div>
						<div class="info-btn">
							<button id ='btntj' onclick=" return success(3)">
							<div class="am-btn am-btn-danger">保存修改</div>
							</button>
						</div>

					</form>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
                    <li class="person active">
                        <a href="info"><i class="am-icon-user"></i>个人中心</a>
                    </li>
                    <li class="person">
                        <ul>
                            <li> <a href="info">个人信息</a></li>
                            <li> <a href="safety">安全设置</a></li>                 
                            <li> <a href="points">我的积分</a></li>
                            <li> <a href="coupon">我的VIp</a></li>
                            <li> <a href="bonus">积分兑换</a></li>               
                        </ul>
                    </li>

					<li class="person">
						<p><i class="am-icon-tags"></i>我的收藏</p>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>			
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-qq"></i>在线客服</p>
						<ul>
							<li> <a href="suggest.html">意见反馈</a></li>							
							<li> <a href="news.html">我的消息</a></li>
						</ul>
					</li>
				</ul>
			</aside></div>

	</body>

</html>
<script type="text/javascript">
	var e = 'e';
	$("#user-email").blur(function () {
		var val = $("#user-email").attr('value');
		var mobilevalid = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
		if (!mobilevalid.test(val)) {
			e = 'p';
			$('#pyou').html('请输入正确的邮箱地址');	
		} else {
			e = 'e';
			$('#pyou').html('');	
		}
	});


	var flag = true;
	function sendMobileCode()
	{
		if (e != 'e') {
			alert('请输入正确的邮箱地址');
			return false;
		}

		if (flag) {
			flag = false;
			var s = 5;
			var timer = setInterval(function (){
				$('#btnyzm').text(s+"秒后重新发送");
				if (s <0) {
					$('#btnyzm').text('重新发送');
					clearInterval(timer);
					flag = true;
				}
				s--;
			},1000);
			var data = $("#user-email").attr('value');
		$.get("{:url('user/doemail')}",{'email':data},function (data) {
			console.log(data);
		});

		}
	}


	$('#btntj').click(function () {
		$.ajax({
			type:'post',
			url:"{:url('user/emailyzm')}",
			data:data,
			success:success
		});
	});

	function success(data)
	{
		if (data == 2) {
			alert('验证码输入错误');
			return false;
		} else  if (data == 1) {
			alert('修改失败，请联系管理员')
			return false;
		} 

		$("#setr").attr('class','step-1 step');
		alert('修改成功');
		return false;

	}


</script>