<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

        <title>个人资料</title>

        <link href="__INDEX__AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
        <link href="__INDEX__AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

        <link href="__INDEX__css/personal.css" rel="stylesheet" type="text/css">
        <link href="__INDEX__css/infstyle.css" rel="stylesheet" type="text/css">
        <script src="__INDEX__AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
        <script src="__INDEX__AmazeUI-2.4.2/assets/js/amazeui.js"></script> 
        <script type="text/javascript" src="__INDEX__js/jquery-1.9.1.min.js"></script>
        <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
        <script src="__INDEX__js/cropper.min.js"></script>
        <link rel="stylesheet" href="__INDEX__css/cropper.min.css">
        <link rel="stylesheet" href="__INDEX__css/ImgCropping.css">

    <script type="text/javascript">
        window.onload=function(){
        var selects = document.getElementsByTagName("select");//通过标签名获取select对象
        var date = new Date();
        var nowYear = date.getFullYear();//获取当前的年
        for(var i=nowYear;i>nowYear-50;i--){
            var optionYear = document.createElement("option");
                selects[0].appendChild(optionYear);
                optionYear.innerHTML=i;
                optionYear.value=i;         
        }
            for(var i=1;i<=12;i++){
                var optionMonth = document.createElement("option");
                optionMonth.innerHTML=i;
                optionMonth.value=i;
                selects[1].appendChild(optionMonth);
            }
            getDays(selects[1].value,selects[0].value,selects);
        }
        // 获取某年某月存在多少天
        function getDaysInMonth(month,year){
            var days;
            if (month==1 || month==3 || month==5 || month==7 || month==8 || month==10 || month==12) {
                days=31;
                    }else if (month==4 || month==6 || month==9 || month==11){
                    days=30;
                }else{
                if ((year%4 == 0 && year%100 != 0) || (year%400 == 0)) {     // 判断是否为润二月
                    days=29; 
                }else { 
                    days=28; 
            }
        }
        return days;
        }
        function setDays(){
            var selects = document.getElementsByTagName("select");  
            var year = selects[0].options[selects[0].selectedIndex].value;
            var month = selects[1].options[selects[1].selectedIndex].value;
            getDays(month,year,selects);
        }
        function getDays(month,year,selects){
            var days = getDaysInMonth(month,year);
            selects[2].options.length =1;
            for(var i=1;i<=days;i++){
                    var optionDay = document.createElement("option");
                    optionDay.innerHTML=i;
                    optionDay.value=i;
                    selects[2].appendChild(optionDay);
                }
        }
</script>

    </head>
    <body>
        <!--头 -->
        <header>
            <article>
                <div class="mt-logo">
                    <!--顶部导航条 -->
                    <div class="am-container header">
                        <ul class="message-l">
                            <div class="topMessage">
                            
                            </div>
                        </ul>
                        <ul class="message-r">
                            <div class="topMessage home">
                                <div class="menu-hd"><a href="#" target="_top" class="h">首页</a></div>
                            </div>
                            <div class="topMessage my-shangcheng">
                                <div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
                            </div>
                            <div class="topMessage mini-cart">
                                <div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>足迹</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
                            </div>
                            <div class="topMessage favorite">
                                <div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
                        </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </article>
        </header>            
        <b class="line"></b>
        <div class="center">
            <div class="col-main">
                <div class="main-wrap">

                    <div class="user-info">
                        <!--标题 -->
                        <div class="am-cf am-padding">
                            <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small></div>
                        </div>
                        <hr/>

                        <form class="am-form am-form-horizontal" action='index/info/doinfo' method="post" enctype="multipart/form-data">
                        <!--头像 -->
                        <div class="user-infoPic">

                            <div class="filePic">

                            <div style="width: 100px;height: 100px;padding: 5px;margin-top: 10px">
                                <img id="finalImg" src="{$res['userpic']}" width="100%" class="am-circle am-img-thumbnail">
                                </div>

                                                            <!--图片裁剪框 start-->
                                    <div style="display: none" class="tailoring-container">
                                        <div class="black-cloth" onclick="closeTailor(this)"></div>
                                        <div class="tailoring-content">
                                                <div class="tailoring-content-one">
                                                    <!-- <label title="上传图片" for="chooseImg" class="l-btn choose-btn"> -->
                                                        <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">
                                                       <!--  选择图片
                                                                       </label> -->
                                                    <div class="close-tailoring"  onclick="closeTailor(this)">×</div>
                                                </div>
                                                <div class="tailoring-content-two">
                                                    <div class="tailoring-box-parcel">
                                                        <img id="tailoringImg">
                                                    </div>
                                                    <div class="preview-box-parcel">
                                                        <p>图片预览：</p>
                                                        <div class="square previewImg"></div>
                                                        <div class="circular previewImg"></div>
                                                    </div>
                                                </div>
                                                <div class="tailoring-content-three">
                                                    <button class="l-btn cropper-reset-btn">复位</button>
                                                    <button class="l-btn cropper-rotate-btn">旋转</button>
                                                    <button class="l-btn cropper-scaleX-btn">换向</button>
                                                    <button class="l-btn sureCut" id="sureCut">确定</button>
                                                </div>
                                            </div>
                                    </div>
                                    <!--图片裁剪框 end-->


                            </div>

                            <p class="am-form-help">头像</p>

                            <div class="info-m">
                                <div><b>用户名：<i>{$res['user']}</i></b></div>
                                <div class="vip">
                                      <span></span><a href="#">会员专享</a>
                                </div>
                            </div>
                        </div>

                        <!--个人信息 -->
                        <div class="info-main">

                                <div class="am-form-group">
                                    <label for="user-name2" class="am-form-label">昵称</label>
                                    <div class="am-form-content">
                                        <input type="hidden" name="id" value="{$res['id']}">
                                        <input type="text" id="user-name2" value="{$res['user']}" disabled  name='user' >
                                          <small></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-name" class="am-form-label">姓名</label>
                                    <div class="am-form-content">
                                        <input type="text" id="user-name2" placeholder="{$res['realname']}" name='realname'>
                                         
                                    </div>
                                </div>
        
                                
                                <div class="am-form-group">
                                    <label for="user-name" class="am-form-label">头像</label>
                                    <div class="am-form-content">
                                        <button id="replaceImg" class="l-btn">更换头像</button>   
                                    </div>
                                </div>


                                <div class="am-form-group">
                                    <label class="am-form-label">性别</label>
                                    <div class="am-form-content sex">
                                        <label class="am-radio-inline">
                                            <input type="radio" name="sex" value="0"   data-am-ucheck > 保密
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="sex" value="1" data-am-ucheck > 男
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="sex" value="2" data-am-ucheck> 女
                                        </label>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-birth" class="am-form-label">生日</label>
                                    <div class="am-form-content birth">
                                        <div class="birth-select">
                                            <select data-am-selected="{maxHeight: 175}" onchange="setDays()" name='nian'>
                                                 <option>{$res['birthday']|date='Y',###}</option>
                                            </select>
                                               
                                            <em>年</em>
                                        </div>
                                        <div class="birth-select2">
                                            <select data-am-selected="{maxHeight: 175}" onchange="setDays()" name ='yue'>
                                                <option>{$res['birthday']|date='m',###}</option>
                                            </select>
                                            <em>月</em></div>
                                        <div class="birth-select2">
                                            <select data-am-selected="{maxHeight: 175}" name='day'  >
                                                <option id='day'>{$res['birthday']|date='d',###}</option>
                                            </select>
                                            <em>日</em></div>
                                    </div>
                            
                                </div>
                                <div class="am-form-group">
                                    <label for="user-phone" class="am-form-label">电话</label>
                                    <div class="am-form-content">
                                        <input id="user-phone" value="{$res['phone']}" type="tel" disabled>

                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-email" class="am-form-label">电子邮件</label>
                                    <div class="am-form-content">
                                        <input id="user-email" placeholder="{$res['email']}" type="email" disabled>

                                    </div>
                                </div>
                                <div class="am-form-group address">
                                    <label for="user-address" class="am-form-label">收货地址</label>
                                    <div class="am-form-content address">
                                        <a href="address.html">
                                            <p class="new-mu_l2cw">
                                                <span class="province">湖北</span>省
                                                <span class="city">武汉</span>市
                                                <span class="dist">洪山</span>区
                                                <span class="street">雄楚大道666号(中南财经政法大学)</span>
                                                <span class="am-icon-angle-right"></span>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="am-form-group safety">
                                    <label for="user-safety" class="am-form-label">账号安全</label>
                                    <div class="am-form-content safety">
                                        <a href="safety.html">
                                            <span class="am-icon-angle-right"></span>
                                        </a>    
                                    </div>
                                </div>
                                <div class="info-btn">
                                    <div class="am-btn am-btn-danger">
                                    <input type="submit" style="background:#dd514c;color:#fff;border: 0px" value="保存修改">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--底部-->
                <div class="footer">
                    <div class="footer-bd">
                        <div style="" >
                            <a href="#">关于恒望</a>
                            <a href="#">合作伙伴</a>
                            <a href="#">联系我们</a>
                            <a href="#">网站地图</a>
                            <em>? 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="menu">
                <ul>
                    <li class="person active">
                        <a href="index.html"><i class="am-icon-user"></i>个人中心</a>
                    </li>
                    <li class="person">
                        <ul>
                            <li> <a href="info">个人信息</a></li>
                            <li> <a href="safety">安全设置</a></li>                 
                            <li> <a href="points">我的积分</a></li>
                            <li> <a href="jifen/coupon">我的VIp    </a></li>
                            <li> <a href="bonus.html">红包</a></li>               
                        </ul>
                    </li>
                    <li class="person">
                        <p><i class="am-icon-tags"></i>我的收藏</p>
                        <ul>
                            <li> <a href="collection">收藏</a></li>
                            <li> <a href="foot">观看历史</a></li>   
                        </ul>
                    </li>

                    <li class="person">
                        <p><i class="am-icon-qq"></i>在线客服</p>
                        <ul>
                            <li> <a href="suggest.html">意见反馈</a></li>                           
                            
                            <li> <a href="news.html">我的消息</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
    </body>
</html>
<script type="text/javascript">
   $(':radio').eq('{$res["sex"]}').attr("checked","true"); 
</script>
 <script>

        //弹出框水平垂直居中
        (window.onresize = function () {
            var win_height = $(window).height();
            var win_width = $(window).width();
            if (win_width <= 768){
                $(".tailoring-content").css({
                    "top": (win_height - $(".tailoring-content").outerHeight())/2,
                    "left": 0
                });
            }else{
                $(".tailoring-content").css({
                    "top": (win_height - $(".tailoring-content").outerHeight())/2,
                    "left": (win_width - $(".tailoring-content").outerWidth())/2
                });
            }
        })();

        //弹出图片裁剪框
        $("#replaceImg").on("click",function () {
            $(".tailoring-container").toggle();
            return false;
        });
        //图像上传
        function selectImg(file) {
            if (!file.files || !file.files[0]){
                return;
            }
            var reader = new FileReader();
            reader.onload = function (evt) {
                var replaceSrc = evt.target.result;
                //更换cropper的图片
                $('#tailoringImg').cropper('replace', replaceSrc,false);//默认false，适应高度，不失真
            }
            reader.readAsDataURL(file.files[0]);
        }
        //cropper图片裁剪
        $('#tailoringImg').cropper({
            aspectRatio: 1/1,//默认比例
            preview: '.previewImg',//预览视图
            guides: false,  //裁剪框的虚线(九宫格)
            autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
            movable: false, //是否允许移动图片
            dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
            movable: true,  //是否允许移动剪裁框
            resizable: true,  //是否允许改变裁剪框的大小
            zoomable: false,  //是否允许缩放图片大小
            mouseWheelZoom: false,  //是否允许通过鼠标滚轮来缩放图片
            touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
            rotatable: true,  //是否允许旋转图片
            crop: function(e) {
                // 输出结果数据裁剪图像。
            }
        });
        //旋转
        $(".cropper-rotate-btn").on("click",function () {
            $('#tailoringImg').cropper("rotate", 45);
        });
        //复位
        $(".cropper-reset-btn").on("click",function () {
            $('#tailoringImg').cropper("reset");
        });
        //换向
        var flagX = true;
        $(".cropper-scaleX-btn").on("click",function () {
            if(flagX){
                $('#tailoringImg').cropper("scaleX", -1);
                flagX = false;
            }else{
                $('#tailoringImg').cropper("scaleX", 1);
                flagX = true;
            }
            flagX != flagX;
        });

        //裁剪后的处理
        $("#sureCut").on("click",function () {
            if ($("#tailoringImg").attr("src") == null ){
                return false;
            }else{
                var cas = $('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
                var base64url = cas.toDataURL('image/png'); //转换为base64地址形式
                $("#finalImg").prop("src",base64url);//显示为图片的形式

                //关闭裁剪框
                closeTailor();
            }
            return false;
        });
        //关闭裁剪框
        function closeTailor() {
            $(".tailoring-container").toggle();
        }
        </script>
