
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>登陆</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />	

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" href="__INDEX__css/boot.min.css">
	<link rel="stylesheet" href="__INDEX__css/animate.css">
	<link rel="stylesheet" href="__INDEX__css/style.css">

	<!-- Modernizr JS -->
	<script src="__INDEX__js/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src='__INDEX__js/jquery-1.9.1.min.js'></script>
	<script type="text/javascript" src="http://open.51094.com/user/myscript/15ab849fb7741e.html"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body class="style-3">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					
					 <form action="" class="fh5co-form animate-box" data-animate-effect="fadeInRight" method='post' id="denglu">
						<h2>登陆</h2>
					
						<div class="form-group">
							<label for="name" class="sr-only">用户名</label>
							<input type="text" class="form-control"  placeholder="用户名" autocomplete="off" name="user" value="">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">密码</label>
							<input type="password" class="form-control" placeholder="密码" autocomplete="off" name='password' value="">
						</div>
						<div class="form-group">
							<p>还未注册? <a href="register">注册</a>| <a href="forgot">忘记密码</a></p>
						</div>
						<div class="form-group">
							<input type="button" value="登陆	" class="btn btn-primary">
						</div>
						<div class="form-group">
							<span id="hzy_fast_login"></span>
						</div>
					</form>
					<!-- END Sign In Form -->


				</div>
			</div>
			<div class="row" style="padding-top: 60px; clear: both;">
				<div class="col-md-12 text-center"><p><small>&copy; All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></small></p></div>
			</div>
		</div>
	
	<!-- jQuery -->
	<script src="__INDEX__js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="__INDEX__js/bootstrap.min.js"></script>
	<!-- Placeholder -->
	<script src="__INDEX__js/jquery.placeholder.min.js"></script>
	<!-- Waypoints -->
	<script src="__INDEX__js/jquery.waypoints.min.js"></script>
	<!-- Main JS -->
	<script src="__INDEX__js/main.js"></script>
	</body>
</html>
<script type="text/javascript">
	$(":button").click(function() {
		var data = $("#denglu").serialize();
		$.ajax({
			type:'post',
			url:'index/user/dologin',
			data:data,
			async:true	,
			success:success,
		});
	});
	function success(data)
	{
		if (data == 0) {
			alert('登陆成功');
			 window.location.href = '../index';
		} else {
			alert(data);
		}
	}
</script>

